@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

:root {
  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-200: hsl(225, 100%, 98%);
  --clr-neutral-400: hsla(223, 23%, 55%, 1);
  --clr-neutral-800: hsl(223, 47%, 23%);

  --clr-primary-200: hsl(225, 100%, 94%);
  --clr-primary-300: hsla(245, 83%, 68%, 1);
  --clr-primary-400: hsl(245, 75%, 52%);

  --fs-700: 1.75rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;

  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

  --ff-base: 'Red Hat Display', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Reset */



/* Basic */

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-500);
  font-size: var(--fs-400);
  line-height: 1.6;
  color: var(--clr-neutral-400);
  background: var(--clr-primary-200);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h2 {
  font-size: var(--fs-700);
  font-weight: var(--fw-900);
  color: var(--clr-neutral-800);
}

/* Basic */



/* Composition */

.grid-flow {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex-row {
  display: flex;
  gap: var(--gap, 1rem);
}

/* Composition */



/* Utility */

.padding-24 {
  padding: 1.5rem;
}

.padding-48 {
  padding: 3rem;
}

.text-dark {
  color: var(--clr-neutral-800);
}

.text-default {
  color: var(--clr-neutral-400);
}

.bg-white {
  background-color: var(--clr-neutral-100);
}

.bg-white-2 {
  background-color: var(--clr-neutral-200);
}

.text-align-left {
  text-align: start;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: end;
}

.fw-bold {
  font-weight: var(--fw-700);
}

.fw-black {
  font-weight: var(--fw-900);
}

.br-1 {
  border-radius: 0.5rem;
}

.br-2 {
  border-radius: 1rem;
}

.push-right {
  margin-left: auto;
}

a,
.link {
  border: 0;
  cursor: pointer;
  background: transparent;
  color: var(--clr-primary-400);
  text-decoration: underline;
  font-weight: var(--fw-700);
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: var(--clr-primary-300);
  text-decoration: none;
}

/* Utility */



/* Block */

.card {
  max-width: 450px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button {
  cursor: pointer;
  padding: 1em 2em;
  background: transparent;
  font-weight: var(--fw-700);
  text-decoration: none;
  border: 0;
  border-radius: 0.5rem;
}

.button[data-type="primary"] {
  color: var(--clr-neutral-100);
  background: var(--clr-primary-400);
}

.button[data-type="primary"]:hover,
.button[data-type="primary"]:focus {
  background: var(--clr-primary-300);
}

.button[data-type="neutral"] {
  color: var(--clr-neutral-400);
  padding: 0;
}

.button[data-type="neutral"]:hover,
.button[data-type="neutral"]:focus {
  color: var(--clr-neutral-800);
}

/* Block */



/* Mobile */

@media (max-width: 400px) {
  body {
    font-size: var(--fs-400);
  }

  .card {
    max-width: 350px;
  }

  .flex-row {
    align-items: center;
    font-size: 0.7rem;
  }

  .padding-24 {
    padding: 1rem;
  }

  .padding-48 {
    padding: 2.5rem;
  }
}

/* Mobile */
